.Pokedex-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Pokedex {
    text-align: center;
}

.Pokedex-text {
    font-size: large;
    color: brown;
}

.Pokedex-winner {
    color: green;
    text-align: center;
}

.Pokedex-loser {
    color: red;
    text-align: center;
}